@import "color-palette";
table{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
td{
	text-align: center;
	font-size: 12px;
	font-family: monospace;
	height: 10vh;
	width: 10vh;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: salmon;
}
td:hover{
	background-color: lightblue;
}
.potential-move{
	opacity: 0.5;
}
.selected{
	border: 2px solid salmon;
}
tr:nth-child(odd){
	td:nth-child(even){
		background-color: $chessa;
	}
	td:nth-child(odd){
		background-color: $chessb;
	}
}
tr:nth-child(even){
	td:nth-child(odd){
		background-color: $chessa;
	}
	td:nth-child(even){
		background-color: $chessb;
	}
}